[Desktop Entry]
Version=1.0
Type=Application
Name=Antergos Kernel Manager
Comment=Kernel Manager
Icon=/usr/share/icons/default/antergos-preferences-system.svg
Exec=/usr/bin/antergos-kernel-manager
NoDisplay=false
Categories=Utility;
Keywords=antergos, kernel, kernels, manager
StartupNotify=false
Terminal=false
